<h1>Listing messages</h1>

<table>
  <tr>
    <th>Text</th>
    <th>ASCII</th>
    <th>Sent at</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.text %></td>
    <td><%= message.ascii %></td>
    <td><%= message.created_at %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
