<h1>New message</h1>
<div>You can send  <%= current_user.today_limit   %> messages for today, and you have <%= current_user.amount_limit  %> Messages </div>
<div>You have <b><span id='myCounter'>160 if English or 70 if Arabic</span></b> characters remaining for your Message</div>
<%= render 'form' %>

<%= link_to 'Back', messages_path %>