<h1>New message</h1>
<div>You can send  <%= current_user.today_limit   %> messages for today, and you have <%= current_user.amount_limit  %> Messages </div>

<%= render 'form' %>

<%= link_to 'Back', messages_path %>
